# ciphar 100 data
data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoint files
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Virtual environment
venv/
.env/

# macOS / Windows
.DS_Store
Thumbs.db

# Logs and outputs
*.log
*.out
*.tmp